@import url('https://fonts.googleapis.com/css?family=Passion+One|Montserrat:400,700');

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Green;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

hr{

  border: 1px solid black;
  border-radius: 5px;
}


.logotext{

font-family: American Typewriter, serif;
font-size: 20px;

}


.dropbtn {
  background-color: hotpink;
  border-radius: 17px;
  color: black;
  padding: 8px;
  font-size: 15px;
  border: solid black;
  margin: 30px;
  font-family: American Typewriter, serif;
  cursor: grab;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: American Typewriter, serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: white;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:hotpink;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}


.rowdata{

  font-family: American Typewriter, serif;
  font-size: 19px;

}

.rowheaders{

  font-family: American Typewriter, serif;
  font-size: 19px;

}

.rowdata{

  
  font-family: American Typewriter, serif;
  font-size: 19px;

}


.progdata{

  font-family: American Typewriter, serif;
    text-align: center;
    border: none;
    border-collapse: collapse;
    color: black;
    margin: 15px;
    font-size: 15px;
}

td{

    white-space: nowrap;
    width: 1000px;
    height: 35px;

}

td:hover{

  font-size: 150%;
  transition: 0.3s;
  background-color: hotpink;
  border-radius: 15px;

}

.bgch1:hover{

  font-size: 150%;
  transition: 0.3s;
  background-color: black;
  border-radius: 15px;

}

.headerrow{

    color: green;

}

.bottombtn{

  position: absolute;
  left: 40%;
  font-family: American Typewriter, serif;
  color: hotpink;

}

.bottomfont{

  font-family: American Typewriter, serif;
  color: black;
  background-color: hotpink;
  cursor: grab;
  font-size: 18px;

}

h1{
    text-align: center;
    font-size: 60px;

}

.News{

  width: 100%;
  font-family: American Typewriter, serif;
  font-size: 30px;
  margin-left: 1%;
  text-align: left;

}

.Outerbox{
    width: 1422px;
    overflow: hidden;
    font-family: Passion One, serif;
    background-image: linear-gradient(to bottom right, #ffd89b , #19547b);
    margin: auto;
    border-radius: 20px;
    font-size: 30px;


  
}

.innerbox1{
    width: 474px;
    float: left;
    height: 100px;
    background-image: linear-gradient(to bottom right, #ffd89b , #19547b);
    font-family: Passion One, serif;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;



}

.innerbox2{
    width: 474px;
    height: 100px;
    float: left;
    background-image: linear-gradient(to bottom right, #ffd89b , #19547b);
    font-family: Passion One, serif;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;

}

.innerbox3{
    width: 474px;
    float: left;
    height: 100px;
    background-image: linear-gradient(to bottom right, #ffd89b , #19547b);
    font-family: Passion One, serif;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;

}

.clear {
    clear: both;
}


header{

    background-image: linear-gradient(to bottom right, #ddd6f3, #faaca8);
}

main{

    background-image: linear-gradient(to bottom right, #ddd6f3, #faaca8);
}

footer{

    background-image: linear-gradient(to bottom right, #ddd6f3, #faaca8);
}


.wrapnews{

    width: 1422px;
    height: 200px;
    overflow: hidden;
    font-family: Passion One, serif;
    background-image: linear-gradient(to bottom right, #ffd89b , #19547b);
    margin: left;
    border-radius: 20px;
    font-size: 40px;

}

.newsimage{

    float: left;
    width: 200px;
    height: 200px;
    font-family: Passion One, serif;
    border-radius: 20px;

}

.newstext{

    float: left;
    font-family: Passion One, serif;
    text-align: left;
    font-size: 10px;
}

.newsbttext{

  font-family: American Typewriter, serif;
  font-size: 20px;
}

iframe{

  border-radius: 25px;
  border-style: dotted;
}

h3{

  font-family: American Typewriter, serif;
  text-align: center;
}